@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.header_logo {
  font-size: 24px;
  color: #f9faf8;
}

.header_link,
.main_container_text {
  font-size: 18px;
  color: #e5e7eb;
}

.header {
  background-color: #1f2937;
}

h1 {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

h2 {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.third_container {
  background-color: #e5e7eb;
}

blockquote {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1f2937;
}

button {
  background-color: #3882f6;
}

footer {
  background-color: #1f2937;
}
